<article class="dynamic-content">
    <div class="card-container">
        <article class="card">
            <figure>
                <img src="/img/northernlights.jpg" alt="Northern lights">
                
            </figure>
            <p>Northern light can be seen when the earth's magnetic field created gradients from the sun storms.</p>
            <figcaption>Northern Lights</figcaption>

            
        </article>
        

        <article class="card">
            <figure>
                <img src="/img/cyclone.jpg" alt="Cyclone">
               
            </figure>
            <p>Cyclones are blunders of air storm which take the face of water when in water bodies</p>
            <figcaption>Cyclone</figcaption>
        </article>

        <article class="card">
            <figure>
                <img src="/img/darksky.jpg" alt="dark sky">
                
            </figure>
            <p>Usually on dark nights stars can be seen very clearly, this picture shows a beautiful sight.</p>
            <figcaption>Dark Sky</figcaption>
        </article>

        <article class="card">
            <figure>
                <img src="/img/purplesky.jpg" alt="purple sky">
                
            </figure>
            <p>The sun rays consists of seven colors , its refracts different colors at different angles</p>
            <figcaption>Purple Sky</figcaption>
        </article>

        <article class="card">
            <figure>
                
                <img src="/img/starhut.jpg" alt="Star hut">
                
            </figure>
            <p>A beautiful shot of a hut circumferenced with the beauty of astronomy</p>
            <figcaption>Star Hut</figcaption>
        </article>

        <article class="card">
            <figure>
                <img src="/img/stargazing.jpg" alt="star gazing">
                
            </figure>
            <p>The phenomenon of star gazing is best seen during clear skies.People love to see the gradients of nature. </p>
            <figcaption>Star Gazing</figcaption>
        </article>
    
        